name: Build ODDITYRCF405

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y install ninja-build

      - name: Setup environment
        run: |
          COMMIT_ID=${{ github.event.pull_request.head.sha }}
          COMMIT_ID=${COMMIT_ID:-${{ github.sha }}}
          BUILD_SUFFIX=$(date '+%Y%m%d')-$(git rev-parse --short ${COMMIT_ID})
          VERSION=$(grep project CMakeLists.txt | awk -F VERSION '{ gsub(/[ \t)]/, "", $2); print $2 }')
          echo "BUILD_SUFFIX=${BUILD_SUFFIX}" >> $GITHUB_ENV
          echo "BUILD_NAME=inav-${VERSION}-${BUILD_SUFFIX}" >> $GITHUB_ENV
          echo "NUM_CORES=$(nproc)" >> $GITHUB_ENV

      - name: Cache toolchain
        uses: actions/cache@v4
        with:
          path: downloads
          key: ${{ runner.os }}-downloads-${{ hashFiles('CMakeLists.txt') }}-${{ hashFiles('**/cmake/*') }}

      - name: Build ODDITYRCF405
        run: |
          mkdir -p build && cd build
          cmake -DWARNINGS_AS_ERRORS=ON \
                -DBUILD_SUFFIX=${{ env.BUILD_SUFFIX }} \
                -DMAIN_COMPILE_OPTIONS=-pipe \
                -G Ninja ..
          ninja -j${{ env.NUM_CORES }} ODDITYRCF405

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_NAME }}-ODDITYRCF405
          path: ./build/inav_*ODDITYRCF405*.hex
          retention-days: 90
